.Content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 32px);
    background-color: aqua;
    align-items: center;
}

.Header {
    height: 32px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: #bbbad6;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Header--items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Content__answers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Content__btn {
    margin: 1rem;
    height: 40px;
    width: 30%;
    box-sizing: border-box;
    background-color: green;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content__btnDisabled {
    background-color: #ccc;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    height: 40px;
    width: 30%;
    box-sizing: border-box;
}

.Content__btn:hover {
    background-color: #003500;
}